* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    position: fixed;
    min-height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
    width: auto;
    margin: 9.5px 0 9.5px 10px;
}

nav {
    max-width: 75%;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 10px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    text-decoration: underline;
    padding: 0px 10px;
}

main {
    text-align: center;
}

