* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    background-color: black;
}

/* Header formatting */

header {
    position: fixed;
    min-height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: black;
}

header img {
    height: 50px;
    width: auto;
    margin: 9.5px 0 9.5px 10px;
}

nav {
    max-width: 75%;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 10px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    text-decoration: underline;
    padding: 0px 10px;
}

/* Main Section Formatting */

main {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    line-height: 3rem;
}

/* Mission Subsection */

#mission {
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    background-image: url("../images/img-mission-background.jpg");
    border-radius: 1.5rem;
}

.mission .heading {
    width: 100%;
    background-color: black;
}

/* Featured Teas Subsection */

#featured-tea {
    width: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#tea-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tea-images img {
    height: 200px;
    width: 300px;
    margin: 10px 10px;
    border-radius: 1.5rem;
}

/* Locations Subsection */

#locations {
    height: 500px;
    width: 1200px;
    background-image: url("../images/img-locations-background.jpg");
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#location-descriptions {
    display: flex;
    margin: 15px 40px 0 40px;
}

.left, .right, .center {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    background-color: black;
    margin: 15px 20px;
    padding: 10px;
    opacity: 1;
    justify-content: space-between;
    line-height: 3rem;
    border-radius: 1.5em;
}

/* Footer Formatting */

footer {
    position: relative;
    top: 100px;
    margin-top: 5%;
}

.contact {
    line-height: 3rem;
    height: 200px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}
